<html>
   <head></head>
   <body>
      <h3>Cognit Face Mask Detection</h3>
      <form action = "/" method = "post">
         <p>Enter any face image web URL</p>
         <p><input type = "text" name = "nm" size=100/></p>
         <p><input type = "submit" value = "submit" /></p>
         <h5>Try image url: https://upload.wikimedia.org/wikipedia/commons/9/90/PM_Modi_2015.jpg</h5>
         <h5>Try image url: https://media13.s-nbcnews.com/j/MSNBC/Components/Video/202007/AFP_1V12BZ.focal-760x428.jpg</h5>
         <h5>Try any web image url as well</h5>

      </form>   
   </body>
</html>